@media only screen and (min-width: 768px) {

    .body {
        width: 100%;
    }

    #iconLocation {
        left: 40%;
    }

    footer {
        display: flex;
        justify-content:space-evenly;
    }

    footer h3 {
        margin: 0;
    }

    .liensFooter {
        padding-top: 5px;
    }  

/* page Accueil  */

    .blockEtapes {
        display: flex;
        justify-content: space-between;
    }

    .nameEtape {
        padding-right: 5px;
    }

    .etapesFonctionnement {
        width: 30%;
    }

    .blockCardRestaurant  {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .flexEnd {
        justify-content: flex-end;
        margin-right: 0;
    }

    .cardRestaurants {
        width: 47%;
    }

    /* Page restaurants  */
    
    .menuRestaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sousMenu {
        width: 46%;
    }

    .itemDesserts {
        flex: 1;
    }

      
}

@media only screen and (min-width: 992px) {
    .body {
        width: 100%;
    }

    .menuRestaurant {
        justify-content: space-between;
    }

    .sousMenu {
        width: 30%;
    }

    .loader {
        left: 48%;
    }

    .blockCardRestaurant {
        justify-content: space-between;
    }

    .cardRestaurants {
        width: 24%;
    }

    .ellipsis, .titreCard {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    
}